.info-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

    p {
        font-size: 22px;
        font-family: 'Wix Madefor Display', sans-serif;
        padding: 15px;
    }
}